.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.App__innerContainer {
  max-width: var(--mw-app);
  padding: clamp(4px, calc(2%), 32px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.App__searchContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 40vh 0 0 0;
  height: 100%;
  width: 100%;
}
